[Unit]
Description=Mastercard IPM File Watcher and Validator
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/ipm-watch

ExecStart=/opt/ipm-watch/ipm-watch \
    --watch /vp-switch/OUTPUT \
    --out /vp-switch/IPMOUT \
    --prefix TESTR \
    --no-jsonl \
    --mail-config /Netset/Network_Settlement/config.env \
    --rules /Netset/Network_Settlement/compliance_rules.json \
    --interval 60

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target